* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("./pancake.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 7vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    color: whitesmoke;
    font-size: 12vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    border-radius: 30px;
    color: black;
    background-color: paleturquoise;
    cursor: pointer;
    box-shadow: 0 7px darkcyan;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
}
.ctn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}
.ctn:hover {
    opacity: 1;
}

/*Animations */
.animation {
    animation-name: animasi;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes animasi {
    0% {
        background-color: yellow;
    }
    25% {
        background-color: palegreen;
    }
    50% {
        background-color: aqua;
    }
    75% {
        background-color: plum;
    }
    100% {
        background-color: white;
    }
}
img {
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.1);
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section {
    width: 80%;
    margin: 80px auto 0;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: darkblue;
}

.col {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    margin: 10px auto;
    text-align: center;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col img {
    width: 80%;
    border-radius: 30px;
}

.foodmenu .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    color: #7c7c7c;
    padding: 0px 40px;
    text-align: center;
    margin: 20px;
}

.about {
    width: 100%;
    height: 100vh;
    background-image: url("./resto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
.about-content {
    width: 60%;
    padding: 50px;
    color: white;
}
.about-content h1 {
    color: white;
    font-size: 7vh;
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-content h2 {
    color: white;
    margin-bottom: 30px;
    text-align: justify;
}
.about-content .line {
    margin-bottom: 50px;
    width: 300px;
}

.footer-content {
    width: 100%;
    min-height: 100px;
    padding: 20px 60px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer-content p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
